{% extends "app_proyecto/base.html" %} <!--esta es la ruta de donde extendemos el html-->

{% block contenido%}<!--esto abre el bloque que se agrega-->
<section>
    <div>
        <h1>Lista de camionetas</h1>

        <a class="navbar-brand" href="{% url 'subir_camionetas' %}"> Publicar camioneta </a>

        <br><br>
        <form action="{% url 'buscar_camionetas' %}" method="POST">
            {%csrf_token%}
            <input type="text" name="busqueda">
            <input type="submit" value="Buscar modelo">
        </form>

        <table class="table">
            <tbody>
                <tr>
                    <th> Marca </th>
                    <th> Modelo </th>
                    <th> Año </th>
                    <th>  </th>
                    <th>  </th>
                    <th>  </th>
                </tr>
                <tr>
                {% for camioneta in object_list %}
                <tr>
                </tr>
                    <td> {{camioneta.marca}} </td>
                    <td> {{camioneta.modelo}} </td>
                    <td> {{camioneta.ano}} </td>
                    <td> 
                        <a href="{% url 'ver_camionetas' camioneta.id %}"> Ver </a> 
                    </td>
                    <td> 
                        {%if user == camioneta.creador %}
                        <a href="{% url 'editar_camionetas' camioneta.id %}"> <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                        </svg>  </a>
                        {% endif %}   
                    </td>
                    <td> 
                        {%if user == camioneta.creador %}
                        <a href="{% url 'eliminar_camionetas' camioneta.id %}"> <svg id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
                        </svg></a>
                        {% endif %}
                    </td>                    
                </tr>   
                {% endfor %}  
            </tbody>
        </table>
    </div>
</section>
{% endblock contenido%}