{% extends "app_proyecto/base.html" %} <!--esta es la ruta de donde extendemos el html-->

{% block contenido%}<!--esto abre el bloque que se agrega-->
 <h1>Hola {{user.first_name}}!!! </h1>
 <p>Soy Jairo Balnc, creador de esta pagina. Soy ingeniero electromecánico, recibido el la UTN-Facultad Regional Concepción del Uruguay.</p>    
 <p>Esta página fué diseñada con fines educativos, como proyecto final del curso de Python-Django de CoderHouse.</p>
 <p>Puede ponerse en contacto conmigo a través de los link de LinkedIn o Instagram, o al mail: jairoexeblanc@gmail.com.</p>  
 <img src="../../media/Miavatar.jpg" />
{% endblock contenido%}

 